<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/logo2.png" type="image/x-icon">
  <title><%= displayName %></title>
  <link rel="stylesheet" href="stylesheets/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="javascripts/bootstrap/bootstrap.js"></script>

</head>

<body>
  <div class="container">
    <div class="px-4 py-5 mt-5 text-center">
      <img class="d-block mx-auto mb-4" src="images/logo2.png" alt="" height="128">
      <h1 class="display-5 fw-bold"><%= displayName %></h1>
      <p class="lead">
        <%= description %>
      </p>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-2">
        <p class="h4">Register</p>
        <hr>
        <p>
          <a href="javascript:void(0)">/auth/register</a>
        </p>
      </div>
      <div class="col-sm-12 col-md-6">
        <p class="h4">cURL</p>
        <hr>
        <p class="code">curl --location --request POST 'http://localhost:8080/auth/register' \<br>
          --header 'Content-Type: application/json' \<br>
          --data-raw '{<br>
          <span class="tab">"firstName": "Royce",</span><br>
          <span class="tab">"lastName": "Jones",</span><br>
          <span class="tab">"username": null,</span><br>
          <span class="tab">"email": "RoycePJones@rhyta.com"</span>,<br>
          <span class="tab">"password": "Royce@12345"</span><br>
          }'
        </p>
        <p class="h4">Request</p>
        <hr>
        <p class="code">
          {<br>
          <span class="tab"><span class="key">"firstName"</span>: <span class="value">"Royce"</span>,</span><br>
          <span class="tab"><span class="key">"lastName"</span>: <span class="value">"Jones"</span>,</span><br>
          <span class="tab"><span class="key">"username"</span>: <span class="value">null</span>,</span><br>
          <span class="tab"><span class="key">"email"</span>: <span class="value">"RoycePJones@rhyta.com"</span></span>,<br>
          <span class="tab"><span class="key">"password"</span>: <span class="value">"Royce@12345"</span></span><br>
          }
        </p>
        <p class="h4">Response</p>
        <hr>
        <p class="code">
          {<br>
            <span class="tab"><span class="key">"user"</span>: {</span><br>
              <span class="tab-inner"><span class="key">"firstName"</span>: <span class="value">"Royce"</span>,</span><br>
              <span class="tab-inner"><span class="key">"lastName"</span>: <span class="value">"Jones"</span>,</span><br>
              <span class="tab-inner"><span class="key">"username"</span>: <span class="value">"Royce.2jsbi4mXU"</span>,</span><br>
              <span class="tab-inner"><span class="key">"email"</span>: <span class="value">"RoycePJones@rhyta.com"</span>,</span><br>
              <span class="tab-inner"><span class="key">"createdAt"</span>: <span class="value">"2021-08-21T03:36:57.194Z"</span>,</span><br>
              <span class="tab-inner"><span class="key">"updatedAt"</span>: <span class="value">"2021-08-21T03:36:57.194Z"</span>,</span><br>
              <span class="tab-inner"><span class="key">"userId"</span>: <span class="value">"fc29f70179a54c3e8c5f61852242c2de"</span></span><br>
            <span class="tab">}</span><br>
          }
        </p>
      </div>
      <div class="col-sm-12 col-md-4">
        <p class="h4">Try yourself</p>
        <hr>
        <form id="registerForm">
          <input type="text" class="form-control mb-3" placeholder="First name here..." id="firstName" required>
          <input type="text" class="form-control mb-3" placeholder="Last name here..." id="lastName" required>
          <input type="text" class="form-control mb-3" placeholder="Username here..." id="username">
          <input type="email" class="form-control mb-3" placeholder="Email here..." id="registerEmail" required>
          <input type="text" class="form-control mb-3" placeholder="Password here..." id="registerPassword" required>
          <button class="btn btn-outline-light w-100">Send</button>
        </form>
        <p class="code" id="registerInfo"></p>
      </div>
    </div>
    <hr class="my-5">
    <div class="row">
      <div class="col-sm-12 col-md-2">
        <p class="h4">Login</p>
        <hr>
        <p>
          <a href="javascript:void(0)">/auth/login</a>
        </p>
      </div>
      <div class="col-sm-12 col-md-6">
        <p class="h4">cURL</p>
        <hr>
        <p class="code">curl --location --request POST 'http://localhost:8080/auth/login' \<br>
          --header 'Content-Type: application/json' \<br>
          --data-raw '{<br>
          <span class="tab">"email": "Sincere@april.biz"</span>,<br>
          <span class="tab">"password": "Bret@12345"</span><br>
          }'
        </p>
        <p class="h4">Request</p>
        <hr>
        <p class="code">
          {<br>
            <span class="tab"><span class="key">"email"</span>: <span class="value">"Sincere@april.biz"</span></span>,<br>
            <span class="tab"><span class="key">"password"</span>: <span class="value">"Bret@12345"</span></span><br>
          }
        </p>
        <p class="h4">Response</p>
        <hr>
        <p class="code">
          {<br>
            <span class="tab text-break"><span class="key">"token"</span>: <span class="value">"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJmaXJzdE5hbWUiOiJMZWFubmUiLCJsYXN0TmFtZSI6IkdyYWhhbSIsInVzZXJuYW1lIjoiQnJldCIsImVtYWlsIjoiU2luY2VyZUBhcHJpbC5iaXoiLCJpYXQiOjE2Mjk1MTY2ODIsImV4cCI6MTYyOTYwMzA4MiwiYXVkIjoiNTg2MzE3Mzg3MjQ4NDVhNmE3MzY4OTg5NzE0YTRiZDYiLCJpc3MiOiJub2RlLmF1dGgifQ.gkSinBI6_kB43mtC7TOsnbCfNDOJAphO4PU8qoJwtLk"</span></span>,<br>
            <span class="tab"><span class="key">"user": {<br>
              <span class="tab-inner"><span class="key">"firstName"</span>: <span class="value">"Leanne"</span>,</span><br>
              <span class="tab-inner"><span class="key">"lastName"</span>: <span class="value">"Graham"</span>,</span><br>
              <span class="tab-inner"><span class="key">"username"</span>: <span class="value">"Bret"</span>,</span><br>
              <span class="tab-inner"><span class="key">"email"</span>: <span class="value">"Sincere@april.biz"</span>,</span><br>
              <span class="tab-inner"><span class="key">"createdAt"</span>: <span class="value">"2021-08-13T14:13:59.237Z"</span>,</span><br>
              <span class="tab-inner"><span class="key">"updatedAt"</span>: <span class="value">"2021-08-13T14:13:59.237Z"</span>,</span><br>
              <span class="tab-inner"><span class="key">"userId"</span>: <span class="value">"58631738724845a6a7368989714a4bd6"</span></span><br>
              <span class="tab">}</span>
            </span><br>
          }
        </p>
      </div>
      <div class="col-sm-12 col-md-4">
        <p class="h4">Try yourself</p>
        <hr>
        <form id="loginForm">
          <input type="email" class="form-control mb-3" placeholder="Email here..." id="loginEmail" required>
          <input type="text" class="form-control mb-3" placeholder="Password here..." id="loginPassword" required>
          <button class="btn btn-outline-light w-100">Send</button>
        </form>
        <p class="code" id="loginInfo"></p>
      </div>
    </div>
    <hr class="my-5">
  </div>

  <script src="javascripts/script.js" defer></script>
</body>

</html>