<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
  <title><%= displayName %></title>
  <link rel="stylesheet" href="stylesheets/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="javascripts/bootstrap/bootstrap.js"></script>

</head>

<body>
  <div class="container">
    <div class="px-4 py-5 my-5 text-center">
      <img class="d-block mx-auto mb-4" src="images/logo.png" alt="" width="72" height="57">
      <h1 class="display-5 fw-bold"><%= displayName %></h1>
      <p class="text-muted">
        <%= description %>
      </p>
    </div>

    <div class="row div col-md-6 offset-md-3">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <span class="fw-bold me-2">[POST]</span> Login Success
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="col">
                <p class="fw-bold">cURL</p>
                <code>
                  curl --location --request POST 'http://localhost:8080/auth/login' \
                  --header 'Content-Type: application/json' \
                  --data-raw '{
                      "email": "JeffreyDBolin@armyspy.com",
                      "password": "1S$f8D6vDkP-"
                  }'
                </code>
              </div>
              <hr>
              <div class="col">
                <p class="fw-bold">REQUEST</p>
                <code>
                  {
                    "email": "JeffreyDBolin@armyspy.com",
                    "password": "1S$f8D6vDkP-"
                  }
                </code>
              </div>
              <hr>
              <div class="col">
                <p class="fw-bold">RESPONSE</p>
                <code>
                  {
                    "data": {
                      "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJmaXJzdE5hbWUiOiJKZWZmcmV5IiwibGFzdE5hbWUiOiJCb2xpbiIsInVzZXJuYW1lIjoiSmVmZnJleS5UQUI0UzA0Vm0iLCJlbWFpbCI6IkplZmZyZXlEQm9saW5AYXJteXNweS5jb20iLCJpYXQiOjE2Mjg2NzYxNTcsImV4cCI6MTYyODc2MjU1NywiYXVkIjoiNWUxMWYzYWUxZWM4NGZhMThmYzM4ODViZDRiODNhNDkiLCJpc3MiOiJub2RlLmF1dGgifQ.mxoTyQt7TeyO2Y_bdeJ9capDtr67lLIcltZVMcwRkjM",
                      "user": {
                        "firstName": "Jeffrey",
                        "lastName": "Bolin",
                        "username": "Jeffrey.TAB4S04Vm",
                        "email": "JeffreyDBolin@armyspy.com",
                        "userId": "5e11f3ae1ec84fa18fc3885bd4b83a49",
                        "createdAt": "Thu Jul 29 2021 13:52:23 GMT+0530 (India Standard Time)",
                        "updatedAt": "Thu Jul 29 2021 13:52:23 GMT+0530 (India Standard Time)"
                      }
                    }
                  }
                </code>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              <span class="fw-bold me-2">[POST]</span> Login Failure
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="col">
                <p class="fw-bold">cURL</p>
                <code>
                  curl --location --request POST 'http://localhost:8080/auth/login' \
                  --header 'Content-Type: application/json' \
                  --data-raw '{
                      "email": "JeffreyDBolin@armyspy.com",
                      "password": "wrongpassword"
                  }'
                </code>
              </div>
              <hr>
              <div class="col">
                <p class="fw-bold">REQUEST</p>
                <code>
                  {
                    "email": "JeffreyDBolin@armyspy.com",
                    "password": "wrongpassword"
                  }
                </code>
              </div>
              <hr>
              <div class="col">
                <p class="fw-bold">RESPONSE</p>
                <code>
                  {
                    "error": "Invalid credentials.",
                    "meta": {
                      "timestamp": "2021-08-11T10:43:49.868Z",
                      "code": "USER_NOT_FOUND",
                      "path": "/login"
                    }
                  }
                </code>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              <span class="fw-bold me-2">[POST]</span> Register Success
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="col">
                <p class="fw-bold">cURL</p>
                <code>
                  curl --location --request POST 'http://localhost:8080/auth/register' \
                  --header 'Content-Type: application/json' \
                  --data-raw '{
                      "firstName": "Royce",
                      "lastName": "Jones",
                      "username": null,
                      "email": "RoycePJones@rhyta.com",
                      "password": "1S$f8D6vDkP-"
                  }'
                </code>
              </div>
              <hr>
              <div class="col">
                <p class="fw-bold">REQUEST</p>
                <code>
                  {
                    "firstName": "Royce",
                    "lastName": "Jones",
                    "username": null,
                    "email": "RoycePJones@rhyta.com",
                    "password": "1S$f8D6vDkP-"
                  }
                </code>
              </div>
              <hr>
              <div class="col">
                <p class="fw-bold">RESPONSE</p>
                <code>
                  {
                    "data": {
                      "user": {
                        "firstName": "Royce",
                        "lastName": "Jones",
                        "username": "Royce.KXbg20Wtt",
                        "email": "RoycePJones@rhyta.com",
                        "userId": "ea4803da27984b16838cd6dff4d0fb62",
                        "createdAt": "Wed Aug 11 2021 16:43:11 GMT+0530 (India Standard Time)",
                        "updatedAt": "Wed Aug 11 2021 16:43:11 GMT+0530 (India Standard Time)"
                      }
                    }
                  }
                </code>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              <span class="fw-bold me-2">[POST]</span> Register Failure
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="col">
                <p class="fw-bold">cURL</p>
                <code>
                  curl --location --request POST 'http://localhost:8080/auth/register' \
                  --header 'Content-Type: application/json' \
                  --data-raw '{
                      "firstName": "Royce",
                      "lastName": "Jones",
                      "username": null,
                      "email": "RoycePJones@rhyta.com",
                      "password": "1S$f8D6vDkP-"
                  }'
                </code>
              </div>
              <hr>
              <div class="col">
                <p class="fw-bold">REQUEST</p>
                <code>
                  {
                    "firstName": "Kenneth",
                    "lastName": "Cameron",
                    "username": null,
                    "email": null,
                    "password": "1S$f8D6vDkP-"
                  }
                </code>
              </div>
              <hr>
              <div class="col">
                <p class="fw-bold">RESPONSE</p>
                <code>
                  {
                    "error": "User validation failed: email: Email name is required.",
                    "meta": {
                      "timestamp": "2021-08-11T11:16:38.731Z",
                      "code": "INTERNAL_SERVER_ERROR",
                      "path": "/register"
                    }
                  }
                </code>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="javascripts/script.js"></script>
</body>

</html>